html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  background: rgb(75,75,75);
  background: linear-gradient(180deg,rgba(75,75,75,1), rgba(119,119,119,1) 100%);
  margin: 0;
  display: flex;
  flex-direction: column; 
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.topnav {
  background: rgb(0,0,0);
  background: linear-gradient(270deg, rgba(75,75,75,1) 0%, rgba(33,33,33,1) 50%, rgba(0,0,0,1) 100%);
  height: 4.4rem;
  width: 100%;
}

  .topnav .logo {
    float: left;
    text-align: center;
    margin-right: .7rem;
    margin-left: .7rem;

  }

    .topnav .logo .imglogo{
      width: 4.4rem;
      height: 4rem;
    }

  .topnav .tab {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 0 1.5rem;
    line-height: 4.4rem;
    text-decoration: none;
    height: 4.4rem;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;

  }

    .topnav .tab:hover {
      background-color: rgb(55, 55, 55);
    }

    .topnav .tab.active {
      background-color: #1b187e;
      color: white;
    }

.content {
  flex: 1;
  text-align: center;
}

  .mainbanner {
    position: relative;
    height: 34rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .mainbanner::before {
      content: '';
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background-image: url("../img/Foto_capa.jpg");
      background-size: 100% auto;
      background-position: center;
      opacity: 0.4;
    }
  

    .mainbanner h1{
      position: relative;
      color: white;
      font-size: 4rem;
      font-family: Arial, Helvetica, sans-serif;
      padding-top: 9rem;
      margin-top: 0;
    }

    .mainbanner p{
      position: relative;
      color: white;
      font-size: 1.8rem;
      font-family: Arial, Helvetica, sans-serif;
      padding-bottom: 2rem;
    }

    .downloadbutton {
      position: relative;
      background-color: #1b187e;
      color: white;
      font-size: 1.5rem;
      text-decoration: none;
      padding: 1rem 2rem;
      border-radius: 10px;
    }

    .downloadbutton:hover {
      padding: 1.5rem 2.5rem;
      background-color: darkblue;
    }

  .funcionalidadestitle {
    text-align: center;
    color: white;
    padding-bottom: 2rem;
  }

  .funcionalidadescontainer {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;
  }
    .funcionalidade {
      width: 30%;
      background: rgb(0,0,0);
      background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgb(40, 40, 40) 100%);
      padding: .4rem .7rem;
      margin: .5rem;
      border-radius: 10px;
    }

    .funcionalidade:hover{
      box-shadow: 0px 10px 5px 5px #4b4b4b;
      margin-top: 0;
      margin-bottom: 1rem;
    }
    

.footer {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(75,75,75,1) 0%, rgba(33,33,33,1) 50%, rgba(0,0,0,1) 100%);
  padding: .7rem 2rem;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
  
  .footer .copyright {
      color: #fff;
  }