html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  background: rgb(75,75,75);
  background: linear-gradient(180deg,rgba(75,75,75,1), rgba(119,119,119,1) 100%);
  margin: 0;
  display: flex;
  flex-direction: column; 
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.topnav {
  background: rgb(0,0,0);
  background: linear-gradient(270deg, rgba(75,75,75,1) 0%, rgba(33,33,33,1) 50%, rgba(0,0,0,1) 100%);
  height: 4.4rem;
  width: 100%;
}

  .topnav .logo {
    float: left;
    text-align: center;
    margin-right: .7rem;
    margin-left: .7rem;

  }

    .topnav .logo .imglogo{
      width: 4.4rem;
      height: 4rem;
    }

  .topnav .tab {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 0 1.5rem;
    line-height: 4.4rem;
    text-decoration: none;
    height: 4.4rem;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;

  }

    .topnav .tab:hover {
      background-color: rgb(55, 55, 55);
    }

    .topnav .tab.active {
      background-color: #1b187e;
      color: white;
    }
    
.content {
  flex: 1;
}

.mainbanner {
  position: relative;
  height: 34rem;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
}

.mainbanner::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("../img/Foto_proposta3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    opacity: 0.4;
  }


  .mainbanner h1{
    position: relative;
    color: white;
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 9rem;
    margin-top: 0;
  }

  .mainbanner p{
    position: relative;
    color: white;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 2rem;
  }

.footer{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(75,75,75,1) 0%, rgba(33,33,33,1) 50%, rgba(0,0,0,1) 100%);
  padding: .7rem 2rem;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

  
  .footer .copyright{
      color: #fff;
  }